.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    gap: 8px; /* Adjust spacing */
  }
  
  .button-group {
    display: flex;
    align-items: center;
    gap: 16px; /* Adjust button spacing */
    margin-left: auto; /* Push to the right */
  }
  .user-menu-container {
    position: relative;
    display: inline-block;
  }
  
  .user-menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 180px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    display: none; /* Hidden by default */
    z-index: 100;
  }
  
  .user-menu.active {
    display: block;
  }
  
  .user-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .user-menu li {
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s ease-in-out;
  }
  
  .user-menu li:hover {
    background: #f5f5f5;
  }
  
  .user-menu li:last-child {
    border-top: 1px solid #ddd;
  }
  
  .menu-toggle-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
  }
  
  .menu-toggle-btn img {
    width: 24px;
    height: 24px;
  }
  
  
  .portal_name {
    background: none;
    border: none;
    color: #100637;
    padding: 5px;
  }